.board {
  height: 450px;
  width: 450px;
  display: block;
  border: 15px solid black;
}

.piece-square {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.light-square {
  background:  teal ;
}
.light-square2 {
  background: rgb(24, 66, 22) ;
}
.dark-square {
  background: grey url('image/classic.png');
}
.dark-square2 {
  background: rgb(58, 21, 21);
}
.green-square {
  background:  teal;
}
.green-square2 {
  background: rgb(24, 66, 22);
}
.purple-square {
  background: grey url('image/classic.png');
}
.purple-square2 {
  background: rgb(9, 255, 0);
}
.gold-square {
  background: #f58400;
}
.gold-square2 {
  background: rgb(46, 33, 2);
}
.teal-square {
  background:  teal ;
}
.teal-square2 {
  background: rgb(13, 46, 46);
}
.yellow-square {
  background: rgb(9, 255, 0);
}
.yellow-square2 {
  background: rgb(7, 44, 6);
}